.imagen{
    text-align: center;
}

.imagen img{
    background-color: #ccc;
    border-radius: 999px;
    margin: 5px;
}
.tipos{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.infinite-scroll-content{
  text-align: center;
}

.infinite-scroll-content img{
  width: 64px;
  height: auto;
}

.info{
    text-align: center;
}

.grass{
    background-color: #65BC5E !important;
   }
   
   .poison{
     background-color: #AB6AC8 !important;
   }
   
   .fighting{
     background-color:#CE3F6B !important;
   }
   
   .psychic{
     background-color:#F97077 !important;
   }
   
   .dragon{
     background-color:#096DC3 !important;
   }
   
   .ghost{
     background-color:#5269AD !important;
   }
   
   .dark{
     background-color:#5B5265 !important;
   }
   
   .ground{
     background-color:#D97746 !important;
   }
   
   .fire{
     background-color:#FE9C55 !important;
   }
   
   .fairy{
     background-color:#EC90E7 !important;
   }
   
   .water{
     background-color:#4D90D6 !important;
   }
   
   .flying{
     background-color:#8FA8DE !important;
   }
   
   .rock{
     background-color:#C9B68B !important;
   }
   
   .electric{
     background-color:#F4D23B !important;
   }
   
   .bug{
     background-color:#90C02C !important;
   }
   
   .ice{
     background-color:#73CEBF !important;
   }
   
   .steel{
     background-color:#5B8EA1 !important;
   }